
/.hemttout/dev/addons/22nd_valkyrie_22nd_items.pbo
/.hemttout/dev/addons/22nd_valkyrie_22nd_main.pbo
/.hemttout/dev/addons/22nd_valkyrie_22nd_misc.pbo
/.hemttout/dev/addons/22nd_valkyrie_22nd_uniforms.pbo
/.hemttout/dev/addons/22nd_valkyrie_22nd_units.pbo
/.hemttout/dev/addons/22nd_valkyrie_22nd_weapons.pbo
/.vs
*.hemttprivatekey
*.biprivatekey